[database]
adapter  = Mysql
host     = localhost
username = root
password =
dbname   =
charset  = utf8mb4

[redis]
host = 127.0.0.1
port = 6379
auth =
timeout = 60
db_id = 0
namespace =


[pay_db_0]
adapter  = Mysql
host     = localhost
username = root
password = heywoods
dbname   = heywoodspay
charset  = utf8mb4

[pay_db_1]
adapter  = Mysql
host     = localhost
username = root
password = heywoods
dbname   = heywoodspay1
charset  = utf8mb4